@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-size: 0.12rem;
	color: #333;
	line-height: .2rem;
}
#top {
	width: 100%;
	height: 0.94rem;
	background-image: url(../images/7901.png);
	background-repeat: repeat-x;
	border-bottom: solid 1px #D7D7D7;
}
#top-main {
	width: 9.9rem;
	height: 0.7rem;
	margin: 0px auto;
	padding-top: 0.24rem;
}
#logo {
	width: 1.34rem;
	height: 0.7rem;
	background-image: url(../images/7902.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	float: left;
}
#menu {
	width: 7rem;
	height: 0.3rem;
	margin-left: 0.5rem;
	margin-top: 0.2rem;
	line-height: 0.3rem;
	text-align: center;
	float: left;
}
#menu span {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}
#pic {
	width: 100%;
	height: 5rem;
	margin-top: 0.1rem;
	text-align: center;
}
